# i.e. https://jasonstitt.com/gitignore-whitelisting-patterns
# Ignore everything in the root
/*

# Allow files and folders with a pattern starting with !
!*.sh
!/app/
!/credential/
!/frontend/
/frontend/.*
/frontend/dist/
/frontend/node_modules/
!/pkg/
!/test/
!/testdata/
!go.mod
!go.sum
