database:
  host: {{ or .DATABASE_HOST "127.0.0.1" }}
  port: {{ or .DATABASE_PORT 5432 }}
  user: {{ or .DATABASE_USER "root" }}
  password: {{ or .DATABASE_PASSWORD "" }}
  database: {{ or .DATABASE_NAME "" }}
  pool: {{ or .DATABASE_POOL_SIZE 5 }}
  sslmode: {{ or .DATABASE_SSLMODE "disable" }}
server:
  host: {{ or .SERVER_BIND_ADDRESS "" }}
  port: {{ or .SERVER_BIND_PORT "8080" }}
manager:
  host: {{ or .MANAGER_BIND_ADDRESS "" }}
  port: {{ or .MANAGER_BIND_PORT "8081" }}
broker:
  relay_server: {{ or .RELAY_SERVER "ws://127.0.0.1:9001" }}
  check_interval: {{ or .BROKER_CHECK_INTERVAL_SECONDS 30 }}
  batch_size: {{ or .BROKER_BATCH_SIZE 10 }}
  cert_server: {{ or .CERT_SERVER "http://localhost:9101" }}
webhook:
  check_interval: {{ or .WEBHOOK_CHECK_INTERVAL_SECONDS 10 }}
  batch_size: {{ or .WEBHOOK_BATCH_SIZE 10 }}
  timeout: {{ or .WEBHOOK_TIMEOUT_SECONDS 5 }}
  max_retry: {{ or .WEBHOOK_MAX_RETRY 5 }}
otlp_endpoint: {{ or .OTLP_ENDPOINT "" }}
