database:
  host: {{ or .DATABASE_HOST "127.0.0.1" }}
  port: {{ or .DATABASE_PORT 5432 }}
  user: {{ or .DATABASE_USER "root" }}
  password: {{ or .DATABASE_PASSWORD "" }}
  database: {{ or .DATABASE_NAME "" }}
  pool: {{ or .DATABASE_POOL_SIZE 5 }}
  sslmode: {{ or .DATABASE_SSLMODE "disable" }}
private_server_address: {{ or .PRIVATE_ADDRESS "localhost:9100" }} 
public_server_address: {{ or .PUBLIC_ADDRESS "localhost:9101 "}}
relay_server: {{ or .RELAY_SERVER "ws://localhost:9001" }}